/*
Special thanks to this page for reminding me how to do a <link> for heaven's sake, https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link

Because I wanted to understand units I didn't need to know 10 years ago, thanks to, https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
*/
:root {
  --color: #d2fdff;
  --color-transparent: #00000022;
}

::selection {
  background: var(--color-transparent);
}

html,
body {
  background: var(--color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // font-size: 3vh;
  font-size: 100%;
}

body {
  display: table-row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  > div {
    max-width: 90%;
    //// visual helper
    // border-bottom: 1px solid red;
  }

  div {
    margin: 0 3ex;
    margin-top: 3ex;
  }

  span,
  div {
    .not-as-smoll {
      font-size: 95%;
    }
    .smoll {
      font-size: 90%;
    }
  }
}